.list-flex-container {
    /* width: 300px;
    height: 330px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #ffffff;
    padding: 10px;
}

.list-flex-item {
    width: 20px;
    height: 20px;
    background-color: #C4C4C4;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 19px;
    font-size: 15px;
    text-align: center;
    transition: opacity 100ms ease-in-out;
}

.list-highlight {
    background: #b13c3c;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.list-highlight2 {
    background: #b13c3c;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
}

.list-scaled {
    transform: scale(2, 2);
    /* Equal to scaleX(2) scaleY(0.5) */
    transform-origin: left;
    background-color: pink;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
}

.list-highlightAnim {
    animation-name: listHighlightFrames;
    animation-duration: 1s;
}

.list-highlightAnimslow {
    animation-name: listHighlightFrames;
    animation-duration: 2s;
}

@keyframes listHighlightFrames {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    20% {
        background-color: rgb(226, 148, 128);
    }
    80% {
        background-color: rgb(226, 148, 128);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.8);
        ;
    }
}

.mathSign {
    font-size: 100px;
    color: rgb(22, 55, 65);
}


/* 
 * This class is for fade in effect which remains 
 * even after transiton is over
 */

.fade {
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}